@page
@model zad4.Pages.Products.CreateModel
@{
    ViewData["Title"] = "Nowy produkt";
}
<h2>Nowy produkt</h2>
<br /><br />
<div class="container">
    <form class="form-horizontal" method="post">
        <div class="form-group">
            <label asp-for="newProduct.name" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="newProduct.name" class="form-control" placeholder="nazwa produktu">
                <span asp-validation-for="newProduct.name" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="newProduct.price" class="control-label col-sm-2"></label>
            <div class="col-sm-6">
                <input asp-for="newProduct.price" class="form-control" placeholder="cena">
                <span asp-validation-for="newProduct.price" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button class="btn btn-primary">Zatwierdź</button>
                <a asp-page="./List" class="btn btn-danger">Anuluj dodawanie produktu</a>
            </div>
        </div>
    </form>
</div>
